.overlay-parent{
	position:relative;
	padding: 0;
	border: none;
	overflow: hidden;
	.overlay{
		background-color: rgba(0,0,0,.5);
		position:absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		&-onhover{
			display: none;
		}
		&-slideup{
			transform: translateY(100%);
			transition: transform 300ms;
		}
	}
	&:hover{
		.overlay{
		 	&-onhover{
	 			display: flex;
	 		}
			&-slideup{
				transform: translateY(0%);
				transition: transform 300ms;
			}
	 	}
	}
}